* {
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

/* ===== HEADER ===== */
header{
    width: 100%;
    padding: 21px 18px;
    margin-bottom: 35px;
    box-sizing: border-box;
}

.logo{
    width: 122px;
    padding-bottom: 40px;
    display: flex;
    align-items: baseline;
}

h1{
    margin-right: 7px;
    font-size: 21px;
    font-weight: bold;
    color: #212529;
}

h2{
    font-size: 16px;
    font-weight: bold;
    color: #FF2253;
}

#pesqNome{
    width: 342px;
    height: 49px;
    padding-left: 48px;
    background-color: #E9ECEF;
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;
    background-image: url(../img/search.PNG);
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 18px;
    box-sizing: border-box;
}

#usuario{
    width: 36px;
    height: 36px;
}
/* ========== */

/* ===== MAIN ===== */
main{ 
    height: 510px;
    padding: 0 18px;
}
/* ========== */

/* ===== NAV PRODUCTS ===== */
main nav button{
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-right: 22px;
    padding: 15px 20px 15px 26px;
    color: #212529;
    background-color: #FFF7F4;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
}

main nav button:first-child{
    color: #ffffff;
    background-color: #FF2253;
    padding: 15px 20px;
}

main nav button:last-child{
    padding: 15px 20px;
}

#Panificadora{
    background-image: url(../img/Icon_bread.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 1px;
}

#Frutas{
    background-image: url(../img/Icon_fruits.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 1px;
}
#Bebidas{
    background-image: url(../img/Icon_glass\ of\ wine.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 1px;
}

#add{
    color: #ffffff;
    background-color: #FF2253;
}

main nav button:first-child{
    color: #ffffff;
    background-color: #FF2253;
}

main nav button:last-child{
    margin-right: 0;
}

main nav button:hover{
    cursor: pointer;
}
/* ========== */

/* ===== MODAL ADICIONAR PRODUCTS ===== */

.displayNone {
    display: none !important;
}

.formPopupBackGround {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 0px;
  
    background-color: rgba(0, 0, 0, 0.4);
} 
  
.formPopup {
    width: 496px;

    display: flex;
    flex-direction: column;

    /* padding: 20px; */
    
    
    /* position:absolute;
    left: 30rem;
    top: 5rem; */
    border-radius: 12px;
    background-color: #F8F9FA;
}

.cadastroBackGround {
    max-width: 100%;
    max-height: 70px;
    background-color: #F8F9FA;
    padding: 25px 28px 25px 28px;
    border-radius: 8px 8px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.cadastroBackGround h3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.fa-x {
    color: #868E96;
}

.fa-xContainer {
    width: 31px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: #E9ECEF;
}

.fa-xContainer:hover {
    background-color: white;
}

.fa-xContainer:hover .fa-x{
    color: #FF2253;
    font-size: 17px;
}

.formBody {
    max-width: 100%;
    height: 100%;

    padding: 36px 20px 36px 20px;

    background-color: #FFF;
}

.formBody input {
    display: block;
}

.field{
    padding: 20px;
    background: #F8F9FA;
    border: 1.5px solid #DEE2E6;
    border-radius: 12px;
    height: 52px;
    width: 100%;
}

.formBody label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.formBody .nome, .formBody .descricao, .formBody .valor, .formBody .link {
    margin-top: 16px;
    margin-bottom: 40px; 
}

.formBody .descricao {
    height: 80px;

    position: relative;
}

.formBody .descricao::placeholder {
    position: absolute;
}

.formBody .containerCategorias {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    margin-top: 20px;
    margin-bottom: 40px;
}

.categorias {
    width: 136px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #868E96 !important;

    border: none;
    /* border: 1.5px solid #DEE2E6; */
    border-radius: 32px;
    background: #F8F9FA;
}

.categorias:hover {
    cursor: pointer;
}

.containerBtts {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#register-button{
    width: 100%;
    height: 52px;

    font-family: 'Poppins', sans-serif;
    color: #ffffff;

    background-color: #FF2253;
    border: 1.5px solid #FF2253;
    border-radius: 32px;
}

#register-button:hover{
    cursor: pointer;
}

#delete-button {
    width: 192px;
    height: 52px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #868E96;

    border: none;
    border-radius: 32px;
}

#alt-button {
    width: 240px;
    height: 52px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;

    border: none;
    border-radius: 32px;
    background-color: #FF2253;
}

#delete-button:hover, #alt-button:hover {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .categorias {
    color: white !important;
    background-color: #FF2253;
}

.exclusaoBody {
    width: 496px;
    height: 213px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    border-radius: 0px 0px 8px 8px;
    background-color: #FFF;
}

.exclusaoBody h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}

.exclusaoBtts {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.exclusaoBtts input {
    width: 210px;
    height: 52px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #868E96;

    border: none;
    border-radius: 32px;
}

.exclusaoBtts input:hover {
    cursor: pointer;
}

.deleteBtt--sim:hover {
    color: #FFF;
    background-color: #FF2253;
}

.exclusaoBackGround {
    max-width: 100%;
    max-height: 70px;
    background-color: #F8F9FA;
    padding: 25px 28px 25px 28px;
    border-radius: 8px 8px 0px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.exclusaoBackGround h3 {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.exclusaoPopup {
    width: 496px;

    position:absolute;
    top: calc(100% - 85%);


    border-radius: 12px;
    background-color: #F8F9FA;
}










/* ========== */

/* ===== TABELA PRODUCTS ===== */

table { 
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0 20px; 
    margin-top: 58px; 
}

thead tr{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #868E96;
    text-align: left;
}

td {
    border: 1px solid #E9ECEF;
    border-style: solid none;
    padding: 5px;
    background-color: #FFFFFF;
}
td:first-child {
    border-left-style: solid;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

td img{
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 150px;
}

.produto{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.elemento-tabela{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #868E96;

}

#editar{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 150px;

    background-image: url(../img/Editar.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 13px;
}

#deletar{
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 150px;

    background-image: url(../img/Deletar.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 13px;
}
