* {
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

main {
    width: 300px;
    height: 450px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F8F9FA;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
}

.formAlign {
    width: 100%;
    height: calc(100% - 100px);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
}

.formAlign form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formAlign form input[type="text"] {
    width: 220px;
    height: 38px;

    margin-bottom: 15px;
    padding-left: 12px;
    
    border: none;
    border-bottom: 1px solid #868E96;
    background-color: transparent;
}

.formAlign form input[type="email"] {
    width: 220px;
    height: 38px;

    padding-left: 12px;
    
    border: none;
    border-bottom: 1px solid #868E96;
    background-color: transparent;
}

.formAlign form input[type="password"] {
    width: 220px;
    height: 38px;

    margin-top: 15px;
    padding-left: 12px;
    
    border: none;
    border-bottom: 1px solid #868E96;
    background-color: transparent;
}

.formAlign form input[type="submit"] {
    width: 220px;
    height: 38px;

    margin-top: 35px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: white;
    
    border: none;
    border-radius: 32px;
    background-color: #FF2253;
}

.formAlign form input[type="email"]:focus {
    border: none;
    border-bottom: 1px solid #868E96;
}

.formAlign form input[type="password"]:focus {
    border: none;
    border-bottom: 1px solid #868E96;
}

.choose {
    width: 100%;
    height: 100px;
    position: absolute; 
    bottom: 0px;
    display: flex;

    border-top: 1px solid black;
}

.login, .register {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #F8F9FA;
}

.login:hover, .register:hover {
    cursor: pointer;
}

.formAlign form input[type="submit"]:hover {
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

.login {
    font-size: 1.3rem;
}

.register {
    font-size: 1.3rem;
}

.login i {
    margin-bottom: 5px;
    font-size: 1.7rem;
}

.register i{
    margin-bottom: 5px;
    font-size: 1.7rem;
}

.displayNone {
    display: none !important;
}

.color {
    background-color: #FF2253;
    color: white;
}

.noColor {
    background-color: transparent;
}


/* ===== ALERTA ===== */

.alert{
    max-width: 496px;
    min-width: 320px;
    height: 135px;
    
    position: absolute;
    bottom: 25px;
    right: 25px;
    
    opacity: 0;
}

.alertHead {
    width: 100%;
    height: 65px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border-radius: 8px 8px 0px 0px;
    background-color: #F8F9FA;
}

.alertHead h3 {
    margin-left: 28px;

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.alertBody {
    width: 100%;
    height: 70px;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    
    background-color: #FFF;
}

.alertBody p {
    margin-left: 28px;

    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.green {
    width: 100%;
    height: 8px;

    position: absolute;
    bottom: 0px;

    border-radius:0px 0px 8px 8px;
    background-color: #39DF8F;
}

.red {
    width: 100%;
    height: 8px;

    position: absolute;
    bottom: 0px;

    border-radius:0px 0px 8px 8px;
    background-color: #FF2253;
}

.alert.showAlert{
    opacity: 1;
    pointer-events: auto;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
}

@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
}